# Application Dependencies
frontend/node_modules/
frontend/src/data-api/
frontend/log/

# IoT Development Folder
iot/cert/
iot/venv/

# Environment Variable
frontend/.env

# Dummy Data
frontend/src/data-api/

# Testing Environment
testing/

# Development File
frontend/app-dev.js